@import url(root.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--mainfont);    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 1440px;
    /* height: 85px; */
    padding-right: 240px;
    padding-left: 240px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding: 25px 35px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.big_title {
    width: 85%;
    font-size: 4.8rem;
    text-transform: capitalize;
}



.special_title {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
}

.special_title::after{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--maincolor);
    /* margin-top: 10px; */
}


.special_title::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--maincolor);
    /* margin-top: 10px; */
}