@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Unbounded:wght@200..900&display=swap');
:root{
    --maincolor:#FFF;
    --secondarycolor:#3D3D6B;
    --thirdscolor:#EB434A;
    --mainfont:"Almarai", serif;
}